<!DOCTYPE html>
<html>
<head>
    <title>Codeager</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <p>{{question}}</p>
    <form id="answer_form" action="/chapter/{{form_link}}/submit" method="post">
        <input type="text" id="answer" name="answer" required><br>
        <input type="hidden" name="question_id" value="{{ question_id }}">
        <input type="submit" value="Submit">
    </form>
</body>
</html>